<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Student Management{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS stylesheets -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Scripts -->
    <!-- CSRF token -->
    {% csrf_token %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'students:list' %}">Home</a></li>
            <li><a href="{% url 'students:create' %}">Create</a></li>
            <li style="float:right"><a href="{% url 'students:list' %}">Student Management System</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>