{% extends 'base.html' %} 
{% block content %}
<h2>Student List</h2>
<form class="search-form" method="get" action="{% url 'students:search' %}">
  <input type="text" name="query" placeholder="Search...">
  <button type="submit">Search</button>
</form>
{% if error_message %}
  <b><p style="color: red;">{{ error_message }}</p></b>
{% endif %}
<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
      <td>{{ student.first_name }}</td>
      <td>{{ student.last_name }}</td>
      <td>{{ student.email }}</td>
      <td>
        <a href="{% url 'students:detail' student.id %}"><i class="fa fa-eye"></i></a>
        <a href="{% url 'students:update' student.id %}"><i class="fa fa-pencil"></i></a>
        <a href="{% url 'students:delete' student.id %}"><i class="fa fa-trash"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<nav aria-label="Student navigation">
  <ul class="pagination justify-content-center">
      {% if students.has_previous %}
      <li class="page-item">
          <a class="page-link" href="?query={{ query }}&page={{ students.previous_page_number }}"
              aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
          </a>
      </li>
      {% endif %}
      {% for i in students.paginator.page_range %}
      {% if students.number == i %}
      <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?query={{ query }}&page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if students.has_next %}
      <li class="page-item">
          <a class="page-link" href="?query={{ query }}&page={{ students.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
          </a>
      </li>
      {% endif %}
  </ul>
</nav>{% endblock %}